@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --col-pri: #296d98;
  --col-pri-var: #7C879B;
  --col-sec: #BC3E5C;
  --col-sec-var: #C57F7C;

  --col-text: black;
  --col-select: #285194;
  --col-quote: #505050;
  --col-quote-bg: beige;

  --col-ln: var(--col-pri);
  --col-ln-hover: var(--col-sec);
  --col-ln-visit: var(--col-pri);

  --sans-serif: 'Roboto', arial, sans-serif;
  --serif: 'Source Serif Pro', 'Times New Roman', serif;
  --monospace: 'Cousine', 'Consolas', monospace;

  --bg-sec: white;
	
  --max-width: 480px;
  --mgn: 50px;
  --pad: 50px;
}

body {
  font-family: var(--serif);
  color: var(--col-text);
  line-height: 1.4;
	margin: auto;
	max-width: 21cm;
	background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%);
}

.page {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%) no-repeat;
	filter: drop-shadow(.01px .01px 10px #535353);
	padding: 50px;
	margin: 50px;
}

main {
	gap: 1em;
	grid-template-columns: auto auto auto;
	grid-auto-flow: row;
	display: grid;
}

h1 {
	text-align: center;
}

.problem {
	display: inline-flex;
	min-height: 90px;
}

.p-num {
	width: 15%;
}

#ctl-header {
	padding: 10px;
	background-color: beige;
	border-radius: 10px;
}
.controls, .ctl-title {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 5px;
}

#submit {
  background-color: #4CAF50;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media print {
	#ctl-header {
		display: none;
	}
	body, main {
		background-color: white;
		filter: none;
	}
}
